[Desktop Entry]
Version=2.2
Type=Application

Name=Awesome Calculator
Comment=AWESOME calculator program
Categories=Utility;Calculator;

Icon=io.github.deaen.awesomecalculator
Exec=godot-runner
Terminal=false
